---
layout: base
---
.downloads
  %section.main-banner
    .container
      %h1 Downloads
      %p The current release, previous versions and how to have LiveOak installed and running.
  %section
    .container
      .row
        .col-md-3.sidebar.hidden-xs.hidden-sm
          %ul.nav
            %li.active
              %a{:href => "#downloads"} Downloads
              %ul.nav
                %li.active
                  %a{:href => "#current-version"} Current Version
                %li
                  %a{:href => "#github"} Tagged on GitHub
                %li
                  %a{:href => "#previous-versions"} Previous Versions
            %li
              %a{:href => "#installing-local"} Installing and Running
              %ul.nav
                %li
                  %a{:href => "#installing-local"} Local
                %li
                  %a{:href => "#installing-openshift"} OpenShift
        .col-md-9.text-content
          %h2#downloads.section-header.first Downloads
          %p.lead
            Download your preferred distribution choosing among the options below.
          - downloads = site.releases * 1
          - current = downloads.shift
          %h3#current-version Current Version (#{current.version})
          .row.download-buttons
            .col-sm-6
              %a.btn.btn-default.btn-lg.full-width{:href => "http://repository.liveoak.io/io/liveoak/liveoak-dist/#{current.version}/liveoak-dist-#{current.version}.zip"}
                %i.fa.fa-download
                Binary .zip
                %span (#{current.zip_size})
            .col-sm-6
              %a.btn.btn-default.btn-lg.full-width{:href => "http://repository.liveoak.io/io/liveoak/liveoak-dist/#{current.version}/liveoak-dist-#{current.version}.tar.gz"}
                %i.fa.fa-download
                Binary tar.gz
                %span (#{current.tar_size})
          .row.download-buttons
            .col-sm-6
              %a.btn.btn-default.btn-lg.full-width{:href => "http://repository.liveoak.io/io/liveoak/liveoak-dist/#{current.version}/liveoak-dist-#{current.version}-src.zip"}
                %i.fa.fa-download
                Source .zip
                %span (#{current.src_zip_size})
            .col-sm-6
              %a.btn.btn-default.btn-lg.full-width{:href => "http://repository.liveoak.io/io/liveoak/liveoak-dist/#{current.version}/liveoak-dist-#{current.version}-src.tar.gz"}
                %i.fa.fa-download
                Source tar.gz
                %span (#{current.src_tar_size})
          %h3#github Tagged on GitHub
          %p
            Get the source directly from the
            %a{:href => "https://github.com/liveoak-io/liveoak"}
              LiveOak repository on GitHub.
          %a.btn.btn-default.btn-lg.github{:href => "https://github.com/liveoak-io/liveoak/tree/#{current.version}"}
            %i.fa.fa-github
            View on GitHub
          %h3#previous-versions Previous Versions
          %table.table.table-striped.table-bordered
            - for r in downloads
              %thead
                %tr
                  %th #{r.version}, from #{r.date}
              %tbody
                %tr
                  %td
                    %a{:href => "http://repository.liveoak.io/io/liveoak/liveoak-dist/#{r.version}/liveoak-dist-#{r.version}.zip", :id => "#{r.version}.zip"} Binary .zip archive (#{r.zip_size})
                %tr
                  %td
                    %a{:href => "http://repository.liveoak.io/io/liveoak/liveoak-dist/#{r.version}/liveoak-dist-#{r.version}.tar.gz", :id => "#{r.version}.tar.gz"} Binary tar.gz archive (#{r.tar_size})
                %tr
                  %td
                    %a{:href => "http://repository.liveoak.io/io/liveoak/liveoak-dist/#{r.version}/liveoak-dist-#{r.version}-src.zip", :id => "#{r.version}-src"} Source .zip archive (#{r.src_zip_size})
                %tr
                  %td
                    %a{:href => "http://repository.liveoak.io/io/liveoak/liveoak-dist/#{r.version}/liveoak-dist-#{r.version}-src.tar.gz", :id => "#{r.version}-src"} Source tar.gz archive (#{r.src_tar_size})
                %tr
                  %td
                    %a{:href => "https://github.com/liveoak-io/liveoak/tree/#{r.version}"} Tagged on GitHub

          :asciidoc
            include::docs/install/_liveoak.adoc[]
