%title LiveOak - The Open Source Mobile Services Platform
%meta{ :charset=>'utf-8' }
%meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }

%link{ :rel=>'shortcut icon', :type=>'image/x-icon', :href=>"#{site.base_url}/imgs/favicon.ico" }
%link{ :rel=>'icon', :type=>'image/x-icon', :href=>"#{site.base_url}/imgs/favicon.ico" }
%link{ :rel=>'stylesheet', :type=>'text/css', :href=>'https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', :media=>'screen' }
%script(src="http://static.jboss.org/theme/js/libs/jquery/jquery-1.9.1.min.js")
%script( src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" )
%script( src="http://static.jboss.org/js/_jbossorg-tabzilla.js" )
%script( src="#{site.base_url}/javascripts/behavior.js" )
%link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }

%link{ :rel=>'author', :type=>'text/plain', :href=>"#{site.base_url}/humans.txt" }
/[if lt IE 9]
  %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
